.contact-wrapper {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-family: "Poppins", serif;
}

.contact-card {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px #333;
  background-color: #0B9F51;
  margin-top: 100px;
}

.contact-left, .contact-right {
  flex: 1;
  padding: 40px;
  min-width: 300px;
}

.contact-left h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: white;
}

.addr{
    margin-bottom: 20px;
    color: black;
}

strong{
    color: yellow;
}

.contact-left a {
  color: white;
  text-decoration: none;
}

.contact-left a:hover {
  text-decoration: underline;
}

.contact-socials {
  margin-top: 25px;
}

.social-icon {
  font-size: 2.2rem;
  margin-right: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
}

.social-icon:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.whatsapp {
  color: #0B9F51;
}

.instagram {
  color: #0B9F51;
}

.email {
  color: #0B9F51;
}

.contact-right {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f0f0f0;
}

.contact-right h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0B9F51;
}

.contact-right p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: black;
}

/* Responsive */
@media screen and (max-width: 825px) {
 .contact-wrapper {
    margin-top: 50px;
    padding: 0 10px;
  }

  .contact-card {
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
  }

  .contact-left, .contact-right {
    padding: 20px;
  }

  .contact-left h2 {
    font-size: 1.6rem;
    text-align: center;
  }

  .contact-left a{
    margin-bottom: 10px;
  }

  .addr {
    font-size: 13px;
    margin-bottom: 15px;
    text-align: center;
  }

  strong, .cont-details {
    font-size: 13px;
    display: block;
    text-align: center;
  }

  .social-icon {
    font-size: 1.6rem;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }

  .contact-right {
    padding: 20px;
  }

  .contact-right h3 {
    font-size: 17px;
    text-align: center;
  }

  .contact-right p {
    font-size: 0.95rem;
    line-height: 1.4;
    text-align: center;
  }

}


@media screen and (max-width: 360px) {
  .contact-wrapper {
    margin-top: 50px;
    padding: 0 10px;
  }

  .contact-card {
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
  }

  .contact-left, .contact-right {
    padding: 20px;
  }

  .contact-left h2 {
    font-size: 1.6rem;
    text-align: center;
  }

  .contact-left a{
    margin-bottom: 10px;
  }

  .addr {
    font-size: 13px;
    margin-bottom: 15px;
    text-align: center;
  }

  strong, .cont-details {
    font-size: 13px;
    display: block;
    text-align: center;
  }

  .social-icon {
    font-size: 1.6rem;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }

  .contact-right {
    padding: 20px;
  }

  .contact-right h3 {
    font-size: 17px;
    text-align: center;
  }

  .contact-right p {
    font-size: 0.95rem;
    line-height: 1.4;
    text-align: center;
  }
}
